.footer {
	background-color: #000;
	&__container {}
	&__wrapper {
		margin: 107px 0 93px 0;
		display: flex;
		justify-content: space-between;
	}
	&__logo {}
	&__logo-img {}
	&__body {
		width: 832px;
		height: 124px;
		display: flex;
		justify-content: space-between;
	}
	&__menu {}
	&__services {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
.menu-footer {
	&__list {
		height: 124px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__item {}
	&__link {
		font-size: 16px;
		line-height: 175%;
		letter-spacing: -0.05em;
		color: $cfoot;
		&:hover {
			text-decoration: underline;
		}
	}
}
.services-footer {
	&__item {}
	&__link {
		font-size: 16px;
		line-height: 175%;
		letter-spacing: -0.05em;
		color: $cfoot;
		&:hover {
			text-decoration: underline;
		}
	}
}

#group-1 {
	width: 140px;
}
#group-2 {
	width: 189px;
}
#group-3 {
	width: 237px;
}