.page {
	&__mainscreen {}
}
.mainscreen {
	&__container {}
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 76px;
	}
}
.body-mainscreen {
	&__content {
		width: 533px;
		height: 312px;
		align-items: center;
	}
	&__image {}
	&__image-img {}
}
.content-mainscreen {
	&__title {
		@extend %title_h1;
	}
	&__subtitle {
		font-family: Montserrat, sans-serif;
		font-weight: 500;
		font-size: 30px;
		line-height: 175%;
		letter-spacing: -0.05em;
		color: #817979;
		margin-top: 15px;
	}
	&__buttons {
		margin-top: 90px;
		width: 512px;
		display: flex;
		justify-content: space-between;
	}
	&__button {
		width: 245px;
		height: 66px;
		border-radius: 10px;
		font-weight: 600;
		font-size: 18px;
		line-height: 175%;
		letter-spacing: -0.05em;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.2s ease-in-out;
	}
	&__button--color {
		background-color: $ctext_2;
		color: #fff;
		&:hover {
			background-color: #fff;
			border: 2px solid $ctext_2;
			color: $ctext_2;
		}
	}
	&__button--border {
		border: 2px solid #000;
		color: #000;
		&:hover {
			background-color: #000;
			border: 2px solid #000;
			color: #fff;
		}
	}
}