body{
  font-family: Inter, sans-serif;
  font-style: normal;
}

.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page{
  flex: 1 1 auto;
}

[class*="__container"]{
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
.title_h2 {
  @extend %title_h2;
}
.title_h2 span {
  color: $ctext_2;
}
.title_h4 {
  @extend %title_h4;
}
.title_h4 span {
  color: $ctext_2;
}