*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a, a:visited {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
}

header, nav, main, section, aside, footer {
  display: block;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

button, input[type=submit] {
  display: inline-block;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  background-color: transparent;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.content-mainscreen__title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 175%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

.title_h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 175%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

.card-advantages__title, .content-item-services__title, .title_h4 {
  font-weight: 600;
  font-size: 30px;
  line-height: 175%;
  letter-spacing: -0.05em;
}

.button-content-form__button, .content-form-block__text, .content-item-reviews__author, .card-advantages__text, .content-advantages__text, .content-item-services__text, .content-services__text, .menu__link {
  font-size: 18px;
  line-height: 175%;
  letter-spacing: -0.05em;
}

body {
  font-family: Inter, sans-serif;
  font-style: normal;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.title_h2 span {
  color: #F03957;
}

.title_h4 span {
  color: #F03957;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}
.header__menu {
  min-width: 557px;
}
.header__phone-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #2E3235;
}
.header__phone-link:hover {
  text-decoration: underline;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__link {
  color: #2E3235;
  position: relative;
  overflow: hidden;
  display: fixed;
}
.menu__link::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #F03957;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu__link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.menu__link:hover {
  font-weight: 600;
}

.mainscreen__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 76px;
}

.body-mainscreen__content {
  width: 533px;
  height: 312px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-mainscreen__subtitle {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #817979;
  margin-top: 15px;
}
.content-mainscreen__buttons {
  margin-top: 90px;
  width: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-mainscreen__button {
  width: 245px;
  height: 66px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  letter-spacing: -0.05em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.content-mainscreen__button--color {
  background-color: #F03957;
  color: #fff;
}
.content-mainscreen__button--color:hover {
  background-color: #fff;
  border: 2px solid #F03957;
  color: #F03957;
}
.content-mainscreen__button--border {
  border: 2px solid #000;
  color: #000;
}
.content-mainscreen__button--border:hover {
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
}

.page__services {
  background-color: #525252;
  margin-top: 160px;
}

.services__body {
  padding: 80px 0 120px 0;
}

.body-services__content {
  width: 1072px;
  height: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-services__items {
  margin-top: 80px;
}
.body-services__item {
  background-color: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-services__item:not(:last-child) {
  margin-bottom: 60px;
}

.content-services__title {
  width: 403px;
  color: #F7F5F5;
}
.content-services__text {
  width: 466px;
  color: #F7F5F5;
  font-weight: 600;
}

.item-services__content {
  width: 520px;
}
.content-item-services__title span {
  color: #F03957;
}
.content-item-services__text {
  margin-top: 25px;
}
.content-item-services__button {
  margin-top: 30px;
}
.content-item-services__button-link {
  width: 160px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #000;
  border: 2px solid #000;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.content-item-services__button-link:hover {
  background-color: #000;
  color: #fff;
}

#item-1 {
  padding: 52px 146px 34px 67px;
}

#item-2 {
  padding: 17px 45px 38px 88px;
}

#item-3 {
  padding: 38px 168px 0px 67px;
}

#item-4 {
  padding: 54px 117px 29px 74px;
}

#item-5 {
  padding: 37px 155px 37px 67px;
}

#content-item-4 {
  width: 448px;
}

.page__advantages {
  background-color: #F7F5F5;
}

.advantages__body {
  padding: 120px 0;
}

.body-advantages__content {
  width: 1123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-advantages__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}
.body-advantages__card {
  width: 367px;
  height: 499px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 5px 5px #bbb;
          box-shadow: 0px 5px 5px #bbb;
}
.body-advantages__card:hover {
  -webkit-box-shadow: 0px 20px 30px #777;
          box-shadow: 0px 20px 30px #777;
}
.body-advantages__card:nth-child(1) {
  background-color: #C4C4C4;
  padding: 35px 23px 132px 28px;
}
.body-advantages__card:nth-child(2) {
  background-color: #525252;
  color: #fff;
  padding: 35px 34px 100px 30px;
}
.body-advantages__card:nth-child(3) {
  background-color: #D4636B;
  color: #fff;
  padding: 35px 34px 132px 30px;
}

.content-advantages__title {
  width: 462px;
}
.content-advantages__text {
  width: 523px;
  font-weight: 600;
}

.card-advantages__title {
  line-height: 150%;
}
.card-advantages__text {
  width: 302px;
  margin-top: 25px;
}

#card-title-1 {
  width: 206px;
  margin-top: 30px;
}

#card-text-1 {
  width: 314px;
}

#card-title-2 {
  width: 271px;
  margin-top: 37px;
}

#card-text-2 {
  width: 302px;
}

#card-title-3 {
  width: 175px;
  margin-top: 38px;
}

#card-text-3 {
  width: 302px;
}

.page__brands {
  margin-top: 120px;
}

.content-brands__title {
  width: 871px;
}
.content-brands__slider {
  margin-top: 80px;
  position: relative;
}
.content-brands__slider::before {
  content: url(../images/main/brands/arrow_left.svg);
  position: absolute;
  top: 50%;
  left: -50px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.content-brands__slider::after {
  content: url(../images/main/brands/arrow_right.svg);
  position: absolute;
  top: 50%;
  right: -50px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.content-brands__ellipses {
  width: 230px;
  margin: 40px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-content-brands__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.slider-content-brands__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 267px;
  height: 107px;
  border: 2px solid #efefef;
  border-radius: 20px;
  cursor: pointer;
}
.slider-content-brands__item:not(:last-child) {
  margin-right: 30px;
}

.page__reviews {
  margin-top: 120px;
}

.body-reviews__content {
  width: 415px;
}
.body-reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}
.body-reviews__item {
  width: 367px;
  height: 258px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F7F5F5;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 5px #ccc;
          box-shadow: 0px 5px 5px #ccc;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}
.body-reviews__item:hover {
  -webkit-box-shadow: 0px 15px 25px #bbb;
          box-shadow: 0px 15px 25px #bbb;
}

.item-reviews__content {
  width: 315px;
  height: 205px;
  position: relative;
  cursor: pointer;
}

.content-item-reviews__author {
  font-weight: 700;
}
.content-item-reviews__date {
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.05em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #6F7375;
  position: absolute;
  top: 0;
  right: 45px;
}
.content-item-reviews__icon {
  position: absolute;
  top: -4px;
  right: 0;
}
.content-item-reviews__text {
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.05em;
  margin-top: 18px;
}
.content-item-reviews__fulltext {
  display: inline-block;
  margin-top: 14px;
}
.content-item-reviews__fulltext-link {
  font-size: 14px;
  line-height: 175%;
  letter-spacing: -0.05em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #6F7375;
}
.content-item-reviews__raiting {
  display: inline-block;
  position: absolute;
  bottom: 6px;
  right: 0;
}

.page__form {
  background-color: #525252;
  margin-top: 86px;
  padding: 120px 0;
}

.body-form-block__content {
  width: 916px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-form-block__form {
  width: 1156px;
  height: 530px;
  margin: 57px auto 0;
  padding: 80px 97px;
  border-radius: 20px;
  background-color: #F7F5F5;
}

.content-form-block__title {
  width: 466px;
  color: #F7F5F5;
}
.content-form-block__text {
  width: 318px;
  color: #F7F5F5;
  font-weight: 600;
}

.content-form-form-block__items {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content-form-form-block__item {
  position: relative;
}
.content-form-form-block__input {
  width: 465px;
  height: 57px;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  padding: 13px 0 16px 25px;
  background-color: transparent;
  color: #817979;
}
.content-form-form-block__input:not(:last-child) {
  margin-bottom: 20px;
}
.content-form-form-block__input::-webkit-input-placeholder {
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #817979;
}
.content-form-form-block__input::-moz-placeholder {
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #817979;
}
.content-form-form-block__input:-ms-input-placeholder {
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #817979;
}
.content-form-form-block__input::-ms-input-placeholder {
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #817979;
}
.content-form-form-block__input::placeholder {
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #817979;
}
.content-form-form-block__textarea {
  width: 465px;
  height: 211px;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #817979;
  resize: none;
  padding: 13px 0 0 25px;
  background-color: transparent;
}
.content-form-form-block__clip {
  position: absolute;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
}
.content-form-form-block__button {
  width: 228px;
  margin: 0 auto;
}

.button-content-form__button {
  width: 228px;
  height: 66px;
  background-color: #F03957;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.button-content-form__button:hover {
  background: #fff;
  border: 2px solid #F03957;
  border-radius: 10px;
  color: #F03957;
}
.button-content-form__text {
  font-weight: 600;
  font-size: 10px;
  line-height: 175%;
  letter-spacing: -0.05em;
  margin-top: 17px;
}

.page__map {
  position: relative;
  width: 100vw;
  height: 669px;
  background-image: url("../images/main/bg_map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.map__container {
  position: relative;
}
.map__body {
  padding: 50px 23px 50px 54px;
  background-color: #525252;
  width: 463px;
  height: 323px;
  border-radius: 15px;
  position: absolute;
  top: 120px;
  left: 0;
}

.content-body-map__address {
  margin-top: 33px;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #EFEFEF;
}
.content-body-map__email {
  margin-top: 25px;
}
.content-body-map__email-link {
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #EFEFEF;
}
.content-body-map__phone {
  margin-top: 25px;
}
.content-body-map__phone-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #DEDCDC;
}

.footer {
  background-color: #000;
}
.footer__wrapper {
  margin: 107px 0 93px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__body {
  width: 832px;
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-footer__list {
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-footer__link {
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #D9D9D9;
}
.menu-footer__link:hover {
  text-decoration: underline;
}

.services-footer__link {
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.05em;
  color: #D9D9D9;
}
.services-footer__link:hover {
  text-decoration: underline;
}

#group-1 {
  width: 140px;
}

#group-2 {
  width: 189px;
}

#group-3 {
  width: 237px;
}